html {
  --gitto-forest: #264653;
  --gitto-green: #2a9d8f;
  --gitto-yellow: #e9c46a;
  --gitto-orange: #f4a261;
  --gitto-red: #e76f51;

  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;
  --spacing-xlarge: 60px;

  --nav-font-size: 25px;
  --text-light: #e8e8e8;
  --text-medium: #c9c9c9;
  --text-dark: #b8b8b8;
}
